In [1]:
import blpapi
import pdblp
from xbbg import blp
import pandas as pd
import numpy as np
import datetime

In [18]:
def get_data(tickers, fields, start_date, end_date):
    data = blp.bdh(tickers, fields, start_date, end_date)
    return pd.DataFrame(data)


start_date = '19940930'
end_date = datetime.datetime.today().strftime('%Y%m%d')

us_unemployment = get_data(['EHUPUS Index'], ['PX_LAST'], start_date, end_date)
display(us_unemployment)

           EHUPUS Index
                PX_LAST
1994-09-30         6.00
1994-12-31         5.63
1995-03-31         5.47
1995-06-30         5.67
1995-09-30         5.67
...                 ...
2023-06-30         3.57
2023-09-30         3.70
2023-12-31         3.73
2024-03-31         3.80
2024-06-30         4.00

[120 rows x 1 columns]

In [24]:
us_sale5aandbuy30yrs = get_data(['USSWIT10 BGN Curncy'] ['PX_LAST'], start_date, end_date)
display(us_sale5aandbuy30yrs)

<>:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
<>:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
C:\Users\xiaming\AppData\Local\Temp\ipykernel_45212\1801604623.py:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  us_sale5aandbuy30yrs = get_data(['USSWIT10 BGN Curncy'] ['PX_LAST'], start_date, end_date)
C:\Users\xiaming\AppData\Local\Temp\ipykernel_45212\1801604623.py:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  us_sale5aandbuy30yrs = get_data(['USSWIT10 BGN Curncy'] ['PX_LAST'], start_date, end_date)
C:\Users\xiaming\AppData\Local\Temp\ipykernel_45212\1801604623.py:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  us_sale5aandbuy30yrs = get_data(['USSWIT10 BGN Curncy'] ['PX_LAST'], start_date, end_date)

TypeError: list indices must be integers or slices, not str

In [16]:
# 1st way to get data by blpapi
ticker = ['EHUPUS Index', 'USSWIT10 Curncy']
fields = ['PX_LAST']
start_date = '19940930'
# end_date = '20240131'

end_date = datetime.datetime.today().strftime('%Y%m%d')

data = blp.bdh(ticker, fields, start_date, end_date)

data = pd.DataFrame(data)
display(data)

           EHUPUS Index USSWIT10 Curncy
                PX_LAST         PX_LAST
1994-09-30         6.00             NaN
1994-12-31         5.63             NaN
1995-03-31         5.47             NaN
1995-06-30         5.67             NaN
1995-09-30         5.67             NaN
...                 ...             ...
2024-09-19          NaN          2.3790
2024-09-20          NaN          2.3600
2024-09-23          NaN          2.3772
2024-09-24          NaN          2.3900
2024-09-25          NaN          2.3878

[5283 rows x 2 columns]

In [ ]:
# change the column name to rates a

In [ ]:
#2nd way to get data by pdblp
#change the port number to 8194 if you are using the desktop version of Bloomberg terminal and 8196 if you are using the Bloomberg Anywhere version
con = pdblp.BCon(debug=True, port=8194, timeout=5000)
con.start()

data = con.bdh(ticker, fields, start_date, end_date)
con.stop()

display(data)

In [ ]:
#save data to csv
data.to_csv('data.csv')